--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
fastapi
httpx
python-dotenv
langchain-openai
langchain-community
langchain
langchain-core
chromadb
uvicorn[standard]
sentence-transformers
networkx